############
## Windows
############
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
###########
## R/Rstudio
###########
.RData
.Rhistory
*.Rproj
.Rproj.user/
.Rproj.user/*
data/
